* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.main-container {
    padding: 0 120px;
}

.navbar1 {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    height: 55px;
    background-color: black;

}

.apple-logo-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apple-logo {
    width: 22px;
}

.navbar1 ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
    gap: 66px;
}

.navbar1 ul a {
    text-decoration: none;
    color: white;
}

.shop-logo-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.shop-logo {
    width: 22px;
}

/* .sec-shop-logo-gapping {
    margin-left: 2%;
} */


.navbar2 {
    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;

    width: 100%;
    height: 55px;
    background-color: black;
    border-bottom: 1px solid dimgray;
}

.navbar2 h2 {
    margin-right: 40%;
}

.navbar2 h2 a {
    color: white;
    text-decoration: none;
}

.navbar2-elements {
    /*overview & tech specs*/
    margin-right: 2%;
}

.navbar2-elements {
    /*overview & tech specs*/
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.buy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0492c2;
    border-radius: 12px;
    width: 50px;
    height: 30px;

    color: white;
    font-size: 14px;
    text-decoration: none;
}

.image-1 {
    width: 100%;
    height: 339px;
    object-fit: contain;
    border-radius: 44px;
}

.image-2 {
    width: 100%;
    border-radius: 44px;
}

.video-1,
.video-2 {
    width: 100%;
    border-radius: 44px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    /* background-color: grey; */
}

.footer h1 {
    color: cyan;
}

/* additional extra styling below  */

.fixed-isti {
    position: fixed;
    top: 80%;
    left: 88%;
    z-index: 999;
    width: 10%;
    border-radius: 50%;
}

.fixed-name {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 998;
    top: 2%;
    left: 90%;

    background-color: white;
    border-radius: 11px;
    width: 100px;
    height: 29px;
}

@media screen and (max-width:1279px) {
    .main-container {
        padding: 0 5%;
    }

    .navbar1 {
        grid-template-columns: 10% 70% 20%;
        font-size: 11px;
    }

    .navbar1 ul {
        gap: 10%;
    }

    .apple-logo {}
}